# pandas에서 제공하는 대표적인 자료구조

+ Series
    - 값 + index
    
+ DataFrame
    - 여러개의 Series를 묶어놓은 형태

+ https://pandas.pydata.org

## Series

In [4]:
import pandas as pd
import numpy as np

In [46]:
s = pd.Series([9904312, 3448737, 2890451, 246652])
print(s)
print(type(s))

0    9904312
1    3448737
2    2890451
3     246652
dtype: int64
<class 'pandas.core.series.Series'>

In [49]:
for i in enumerate([9904312, 3448737, 2890451, 246652]):
    print(i)

(0, 9904312)
(1, 3448737)
(2, 2890451)
(3, 246652)

In [51]:
### 인덱스를 자유롭게 사용
s = pd.Series([9904312, 3448737, 2890451, 246652],index=['서울','부산','인천','대구'])
print(s)

print('---------------------------------------------------')

print(s.values, type(s.values))
print(s.index)

print('---------------------------------------------------')

# 인덱스에 이름 지정
s.index.name = '도시'
print(s)

print('---------------------------------------------------')

# Series 전체에 이름 지정
s.name = "인구"
print(s)

서울    9904312
부산    3448737
인천    2890451
대구     246652
dtype: int64
---------------------------------------------------
[9904312 3448737 2890451  246652] <class 'numpy.ndarray'>
Index(['서울', '부산', '인천', '대구'], dtype='object')
---------------------------------------------------
도시
서울    9904312
부산    3448737
인천    2890451
대구     246652
dtype: int64
---------------------------------------------------
도시
서울    9904312
부산    3448737
인천    2890451
대구     246652
Name: 인구, dtype: int64

In [52]:
### 벡터화 연산

s1 = s / 1000000
s1

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    0.246652
Name: 인구, dtype: float64

In [53]:
### 인덱싱
print(s[1], s["서울"])

print('---------------------------------------------------')

print(s[[0,3,1]], s[['서울','대구','부산']])

print('---------------------------------------------------')

print(s[(s>250e4) & (s<500e4)])

print('---------------------------------------------------')

print(s[1:3])
print(s["부산":"대구"])

print('---------------------------------------------------')

print(s.부산, ",",s.서울)

3448737 9904312
---------------------------------------------------
도시
서울    9904312
대구     246652
부산    3448737
Name: 인구, dtype: int64 도시
서울    9904312
대구     246652
부산    3448737
Name: 인구, dtype: int64
---------------------------------------------------
도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64
---------------------------------------------------
도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64
도시
부산    3448737
인천    2890451
대구     246652
Name: 인구, dtype: int64
---------------------------------------------------
3448737 , 9904312

In [54]:
### Series와 dict

print("서울" in s)
print("대전" in s)

print('---------------------------')

print(list(s.items()))
for k,v in s.items():
    print("%s = %d"%(k,v))
    
print('---------------------------')

s2 = pd.Series({"서울":9631482, "부산":3448737, "인천":2632035, "대전":1490158})
print(s2)

True
False
---------------------------
[('서울', 9904312), ('부산', 3448737), ('인천', 2890451), ('대구', 246652)]
서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 246652
---------------------------
서울    9631482
부산    3448737
인천    2632035
대전    1490158
dtype: int64

In [58]:
### 인덱스 기반 연산

print(s)
print("------------------")
print(s2)
print("------------------")

result = s-s2
print(result)

print("------------------")

print(s.values - s2.values)

도시
서울    9904312
부산    3448737
인천    2890451
대구     246652
Name: 인구, dtype: int64
------------------
서울    9631482
부산    3448737
인천    2632035
대전    1490158
dtype: int64
------------------
대구         NaN
대전         NaN
부산         0.0
서울    272830.0
인천    258416.0
dtype: float64
------------------
[  272830        0   258416 -1243506]

In [66]:
### 결측치 제거
print(result)
print(result.notnull())
print(result[result.notnull()])

print("------------------")

# s와 s2 데이터를 이용해서 인구 증가율 : (끝 연도 - 시작 연도) / 시작 연도 * 100
result2 = (s2-s)/s*100
print(result2)
print("------------------")
result2 = result2[result2.notnull()]
print(result2)

대구         NaN
대전         NaN
부산         0.0
서울    272830.0
인천    258416.0
dtype: float64
대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool
부산         0.0
서울    272830.0
인천    258416.0
dtype: float64
------------------
대구         NaN
대전         NaN
부산    0.000000
서울   -2.754659
인천   -8.940335
dtype: float64
------------------
부산    0.000000
서울   -2.754659
인천   -8.940335
dtype: float64

In [68]:
### 데이터를 수정, 삭제, 갱신

# 수정
result2['부산'] = 1.63
print(result2)
print('-------------------')

# 갱신
result2['대구'] = 1.41
print(result2)
print('-------------------')

#삭제
del result2['서울'] 
print(result2)

부산    1.630000
서울   -2.754659
인천   -8.940335
dtype: float64
-------------------
부산    1.630000
서울   -2.754659
인천   -8.940335
대구    1.410000
dtype: float64
-------------------
부산    1.630000
인천   -8.940335
대구    1.410000
dtype: float64

### DataFrame

In [151]:
data = {
    "2015":[9904312, 3448737, 2890451, 2466052],
    "2010":[9631482, 3393191, 2632035, 2431774],
    "2005":[9762546, 3512547, 2517680, 2456016],
    "2000":[9853972, 3655437, 2466338, 2473990],
    "지역":["수도권","경상권","수도권","경상권"],
    "2010-2015 증가율":[0.0283, 0.0163, 0.0982, 0.0141]
    }
print(type(data))
print(data)

<class 'dict'>
{'2015': [9904312, 3448737, 2890451, 2466052], '2010': [9631482, 3393191, 2632035, 2431774], '2005': [9762546, 3512547, 2517680, 2456016], '2000': [9853972, 3655437, 2466338, 2473990], '지역': ['수도권', '경상권', '수도권', '경상권'], '2010-2015 증가율': [0.0283, 0.0163, 0.0982, 0.0141]}

In [152]:
df = pd.DataFrame(data)
df

      2015     2010     2005     2000   지역  2010-2015 증가율
0  9904312  9631482  9762546  9853972  수도권         0.0283
1  3448737  3393191  3512547  3655437  경상권         0.0163
2  2890451  2632035  2517680  2466338  수도권         0.0982
3  2466052  2431774  2456016  2473990  경상권         0.0141

### 컬럼의 위치(순서) 변경

In [153]:
cols = ["지역","2015","2010","2005","2000","2010-2015 증가율"]
df = pd.DataFrame(data,columns=cols)
df

    지역     2015     2010     2005     2000  2010-2015 증가율
0  수도권  9904312  9631482  9762546  9853972         0.0283
1  경상권  3448737  3393191  3512547  3655437         0.0163
2  수도권  2890451  2632035  2517680  2466338         0.0982
3  경상권  2466052  2431774  2456016  2473990         0.0141

### 인덱스 변경

In [154]:
idx = ['서울','부산','인천','대구']
df = pd.DataFrame(data, columns=cols, index = idx)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [155]:
print(df.values)
print('-------------------------------------------------------')
print(df.columns)
print('-------------------------------------------------------')
print(df.index)

[['수도권' 9904312 9631482 9762546 9853972 0.0283]
 ['경상권' 3448737 3393191 3512547 3655437 0.0163]
 ['수도권' 2890451 2632035 2517680 2466338 0.0982]
 ['경상권' 2466052 2431774 2456016 2473990 0.0141]]
-------------------------------------------------------
Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')
-------------------------------------------------------
Index(['서울', '부산', '인천', '대구'], dtype='object')

In [156]:
### 컬럼과 인덱스에 이름 부여

df.index.name = "도시"
df.columns.name = "특성"
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [157]:
### 전치 가능
df.T

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

### 인덱싱

In [158]:
print(df)
print('-------------------------------------------------------------------------')
# 하나의 열은 하나의 Series
print(df['지역'])
print(type(df['지역']))
print('-------------------------------------------------------------------------')
print(df[['지역']])
print(type(df[['지역']]))
print('-------------------------------------------------------------------------')
print(df[['2015','2010']])

# df[0] : 숫자로 지정 안됨
# df["2010" : "2000"] : 슬라이싱 안됨

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141
-------------------------------------------------------------------------
도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object
<class 'pandas.core.series.Series'>
-------------------------------------------------------------------------
특성   지역
도시
서울  수도권
부산  경상권
인천  수도권
대구  경상권
<class 'pandas.core.frame.DataFrame'>
-------------------------------------------------------------------------
특성     2015     2010
도시
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

In [159]:
### 행 인덱싱(2개 이상 데이터를 뽑아올 때 반드시 : 으로 슬라이싱)
print(df[:])
print('--------------------------------------------------------------------')
print(df[:1])
print('--------------------------------------------------------------------')
print(df[1:3])
print('--------------------------------------------------------------------')
print(df['서울':'부산'])

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141
--------------------------------------------------------------------
특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
--------------------------------------------------------------------
특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
--------------------------------------------------------------------
특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163

In [160]:
### 동시에 행과 열 접근

print(df['2005']['서울'])
# df['2005','서울'] 이건 안됨
print('------------------------------------------')

# 2005년도와 2010년도의 서울 인구를 조회
df[['2005','2010']][:1]

9762546
------------------------------------------

특성     2005     2010
도시
서울  9762546  9631482

### 열 데이터 갱신, 추가, 삭제

In [161]:
# 갱신
df["2010-2015 증가율"] = df['2010-2015 증가율'] * 100
df

# 추가
df["2015-2010 증가율"] = ((df['2010']-df['2005']) /df ['2005'] * 100).round(2)
df

# 삭제
del df['2010-2015 증가율']
df

특성   지역     2015     2010     2005     2000  2015-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99