## 1. 파이썬과 MySQL 활용

+ 파이썬과 MySQL을 연결해주는 모듈 : 
    - pip install mysqlclient
    - pip install PyMySQL

In [4]:
# mysqlclient 모듈 사용

import MySQLdb

conn = MySQLdb.connect(host="127.0.0.1", user="root", password="ehghks9580",database="world")
print(conn)
conn.close()

<_mysql.connection open to '127.0.0.1' at 0x7fad7e159210>

In [11]:
# pymysql 모듈 사용

import pymysql

conn = pymysql.connect(host="127.0.0.1", user = "root", password="ehghks9580",database="world")
print(conn)
conn.close()

<pymysql.connections.Connection object at 0x7ff1e694d520>

In [3]:
config = {"host":"127.0.0.1","user":"root","password":"ehghks9580","database":"world"}

In [8]:
conn = MySQLdb.connect(**config)
print(conn)
conn.close()

<_mysql.connection open to '127.0.0.1' at 0x7fd4e01a0610>

### (1) SELECT

In [38]:
import MySQLdb

config = {"host":"127.0.0.1", "user":"root", "password":"ehghks9580", "database":"world"} # db접속

conn = MySQLdb.connect(**config) # 가변인수로 주소값, 유저명, 패스워드, 데이터베이스를 받아옴

sql = "select * from city limit 10" # 쿼리문 작성
cur = conn.cursor() # 커서 생성
cur.execute(sql) # 쿼리 실행

# for data in cur: # 결과값 출력
#     # print(data) => 튜플 값
#     print("%d %s %s %s %d"%data) # 문자열 값

# print("-"*35)

# for a,b,c,d,e in cur:
#     print(a,b,c,d,e)
    
# print("-"*35)

[result for data in cur]

conn.close()

for i in result:
    print(i)

(1, 'Kabul', 'AFG', 'Kabol', 1780000)
(2, 'Qandahar', 'AFG', 'Qandahar', 237500)
(3, 'Herat', 'AFG', 'Herat', 186800)
(4, 'Mazar-e-Sharif', 'AFG', 'Balkh', 127800)
(5, 'Amsterdam', 'NLD', 'Noord-Holland', 731200)
(6, 'Rotterdam', 'NLD', 'Zuid-Holland', 593321)
(7, 'Haag', 'NLD', 'Zuid-Holland', 440900)
(8, 'Utrecht', 'NLD', 'Utrecht', 234323)
(9, 'Eindhoven', 'NLD', 'Noord-Brabant', 201843)
(10, 'Tilburg', 'NLD', 'Noord-Brabant', 193238)

### (2) INSERT

In [1]:
import MySQLdb

config = {"host":"127.0.0.1", "user":"root", "password":"ehghks9580", "database":"world"} # db접속

conn = MySQLdb.connect(**config) # 가변인수로 주소값, 유저명, 패스워드, 데이터베이스를 받아옴

sql = "create table tbltest(empno int, ename varchar(10), sal int, job varchar(10))" # 쿼리문 작성
cur = conn.cursor() # 커서 생성
cur.execute(sql) # 커서 실행

sql = "insert into tbltest(empno,ename,sal) values(1,'scott',5000)"
cur.execute(sql)
conn.commit()

conn.close()

In [2]:
import MySQLdb

empno = 2
ename = 'miller'
sal = 1300

config = {"host":"127.0.0.1", "user":"root", "password":"ehghks9580", "database":"world"} # db접속

conn = MySQLdb.connect(**config) # 가변인수로 주소값, 유저명, 패스워드, 데이터베이스를 받아옴
cur = conn.cursor()

sql = "insert into tbltest(empno,ename,sal) values("+str(empno)+",'"+ename+"',"+str(sal)+")"
cur.execute(sql)
conn.commit()

conn.close()

In [4]:
import MySQLdb

empno = 3
ename = 'tom'
sal = 2000

config = {"host":"127.0.0.1", "user":"root", "password":"ehghks9580", "database":"world"} # db접속

conn = MySQLdb.connect(**config) # 가변인수로 주소값, 유저명, 패스워드, 데이터베이스를 받아옴
cur = conn.cursor()

sql = "insert into tbltest(empno,ename,sal) values(%s, %s, %s)"
sql_data = (str(empno), ename, str(sal))

cur.execute(sql, sql_data) # 두번째 인자에 의해 매핑
conn.commit()

conn.close()

In [15]:
# 예외처리

import MySQLdb

config = {"host":"127.0.0.1", "user":"root", "password":"ehghks9580", "database":"world"}
try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    empno = 4
    ename = 'jerry'
    sal = 2000
    
    sql = "insert into tbltest(empno, ename, sal) values(%s, %s, %s)"
    sql_data = (str(empno), ename, str(sal))
    
    cur.execute(sql, sql_data)
    conn.commit()
    
except Exception as e:
    print("error : ",e)
finally:
    conn.close()

In [16]:
# 데이터 여러 개 입력하기

import MySQLdb

config = {"host":"127.0.0.1", "user":"root", "password":"ehghks9580", "database":"world"}

conn = MySQLdb.connect(**config)
cur = conn.cursor()

for i in range(10):
    sql = "insert into tbltest(empno, ename, sal) values(5,'jane',10000)"
    cur.execute(sql)
    conn.commit()
    
conn.close()

### (3) cursor 객체의 fetchall(), fetchmany(), fetchone() 
   - fetch : 실행해서 결과를 가져오는 것
   - default는 fetchall() => 그래서 커서의 메소드를 생략하고 전체값을 가져올수 있었다.
   - fetchall() : 값을 전부 가져오는 것
   - fetchmany() : 불러오고 싶은 값의 개수를 지정해서 불러오는 것
   - fetchone() : 하나의 값만 불러오는 것

In [26]:
import MySQLdb

config = {"host":"127.0.0.1", "user":"root", "password":"ehghks9580", "database":"world"}

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("select * from tbltest")
    
#     for i in cur.fetchall():  # fetchall()
#         print(i)
#     for i in  cur.fetchmany(5): # fetchmany()
#         print(i)

    print(cur.fetchone())
        
finally:
    conn.close()

(1, 'scott', 5000, None)

### (4) DictCursor
   - 필드명을 인덱스 대신 키로 사용

In [3]:
import MySQLdb

config = {"host":"127.0.0.1", "user":"root", "password":"ehghks9580", "database":"world"}


try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor(MySQLdb.cursors.DictCursor)
    
    cur.execute("select * from tbltest")
    
    for i in cur.fetchall():
        # print(i[0], i[1], i[2])
        print(i["empno"], i["ename"], i["sal"])
    
finally:
    conn.close()

1 scott 5000
2 miller 1300
3 tom 2000
4 jerry 2000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000
5 jane 10000

### (5) 응용 실습1: CSV파일을 DB에 저장

In [67]:
'''

CREATE TABLE IF NOT EXISTS suppliers( 
    Supplier_Name varchar(20), 
    Invoice_Number varchar(20), 
    Part_Number varchar(20), 
    Cost float,
    Purchase_Date date 
);

'''
import csv
import MySQLdb

config = {"host":"127.0.0.1", "user":"root", "password":"ehghks9580", "database":"world"}
file = csv.reader(open("data/input.csv")) # 파일 불러오기
#print(next(file) # 한 줄씩 읽기

header = next(file)

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("delete from suppliers") # 중복 방지
    conn.commit()
    

    for i in file:
        # print(i)
        cur.execute("insert into suppliers values(%s, %s, %s, %s, %s)",i)
    conn.commit()        
finally:
    conn.close()

In [12]:
# 마지막 값을 날짜형식으로 받아오기

import csv
import MySQLdb
import datetime

config = {"host":"127.0.0.1", "user":"root", "password":"ehghks9580", "database":"world"}
file = csv.reader(open("data/input.csv")) # 파일 불러오기
#print(next(file) # 한 줄씩 읽기

header = next(file)

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("delete from suppliers") # 중복 방지
    conn.commit()
    

    for i in file:
        # print(i)
        # cur.execute("insert into suppliers values(%s, %s, %s, %s, %s)",i)
        data = []
        for col in range(len(header)): # 컬럼의 개수만큼 반복
            if col == 4: # 컬럼의 마지막 위치
                tmp = datetime.datetime.strptime(i[col], '%Y-%m-%d') # 날짜 형식으로 변환
                data.append(tmp)
            else:
                data.append(i[col])
                
        cur.execute("insert into suppliers values(%s, %s, %s, %s, %s)",data)        
    conn.commit()               
finally:
    conn.close()

### (5) DB에서 가져온 데이터를 파일로 저장

In [22]:
import csv
import MySQLdb

config = {"host":"127.0.0.1", "user":"root", "password":"ehghks9580", "database":"world"}

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("select * from suppliers where cost > 500000")
    file = csv.writer(open("data/output.csv","w"),delimiter=",") # 파일 저장 delimiter = ,가 아닌 다른형식으로 바꿔줌
    header = ["Supplier Name","Invoice Number","Part Number","Cost","Purchase Date"] # 컬럼을 리스트 형식으로 불러오기
    file.writerow(header)
    
    for i in cur: 
        file.writerow(i)
    
finally:
    conn.close()

## 2. 파이썬과 SQLite
   - 로컬로 사용할 수 있는 DBMS
       - Access 
       - SQLite
       - MS-SQL Server Compact Edition
       - Firebird Embedded Server
       - H2
       - HSQL
       - Apache Derby
       
   - 특징
       - 파일 기반의 DBMS, 저메모리, 빠른 처리속도
       - 오픈 소스
       - 별도의 DB서버가 없어도 쉽고 편리하게 사용할 수 있는 Embeded SQL DB엔진
       - 안드로이드, 아이폰 등의 스마트폰에 기본 내장된 DB
       - 파이썬에도 내장
       - 표준SQL 지원
       --------------------------------
       - 컬럼을 삭제하거나 변경하는 것 등이 제한
       - Left Outer Join만 지원
       - 읽기 전용 뷰만 제공
       
   - 공식 사이트
       - http://sqlite.org
       
   - 클라이언트 툴
       - http://www.sqliteexpert.com

In [3]:
import sqlite3

print(sqlite3.version)
print(sqlite3.sqlite_version)
conn = sqlite3.connect("sqlite/tbl.db")
print(conn)
conn.close()

2.6.0
3.33.0
<sqlite3.Connection object at 0x7fbba8e024e0>

In [6]:
import sqlite3

conn=sqlite3.connect("sqlite/tbl.db")
cur = conn.cursor()
cur.execute("select * from tblbook")
for i in cur:
    print(i)

In [8]:
'''
create table tblmember(
    id int,
    name varchar(10),
    regdate datetime
);

insert into tblmember(id,name,regdate)values(1,'홍길동','2020-12-25');
insert into tblmember(id,name,regdate)values(2,'임꺽정',date('now'));
'''

import sqlite3

conn=sqlite3.connect("sqlite/tbl.db")
cur = conn.cursor()
cur.execute("select * from tblmember")
for i in cur:
    print(i)
conn.close()

(1, 'gd', '2020-12-25')
(2, 'top', '2021-04-27')

In [2]:
# 자동으로 db생성하고 테이블 생성

conn = sqlite3.connect("sqlite/auto.db")
cur = conn.cursor()
cur.execute("create table if not exists tblmember(id int, name varchar(10))")
cur.execute("insert into tblmember values(1,'홍길동')")
conn.commit()

cur.execute("select * from tblmember")
for i in cur:
    print(i)

conn.close()

(1, '홍길동')
(1, '홍길동')

In [8]:
# csv 파일을  읽어들어서 DB에 저장

import sqlite3
import csv

conn = sqlite3.connect("sqlite/auto.db")
cur = conn.cursor()

# 테이블 조회(mysql=desc_
tables = cur.execute("select * from sqlite_master where type = 'table'") 
for i in tables:
    print(i)

# 파일 불러오기
file = csv.reader(open("data/input.csv","r"),delimiter=",")
# for i in file:
#     print(i)

next(file)
for i in file:
    cur.execute("insert into suppliers values(?, ?, ?, ?, ?)",i)
conn.commit()
    
conn.close()

('table', 'tblmember', 'tblmember', 2, 'CREATE TABLE tblmember(id int, name varchar(10))')
('table', 'suppliers', 'suppliers', 3, 'CREATE TABLE suppliers( \n    Supplier_Name varchar(20), \n    Invoice_Number varchar(20), \n    Part_Number varchar(20), \n    Cost float,\n    Purchase_Date date \n)')

In [11]:
# expert로 확인하거나 select로 확인
conn = sqlite3.connect("sqlite/auto.db")
cur = conn.cursor()

cur.execute("select * from suppliers")
for i in cur.fetchmany(5):
    print(i)
conn.close()

('A', '001-1001', '2341', 500000.0, '2014-01-20')
('A', '001-1002', '2341', 500000.0, '2014-01-20')
('A', '001-1003', '5467', 750000.0, '2014-01-20')
('A', '001-1004', '5467', 750000.0, '2014-01-20')
('B', '001-1005', '7009', 250000.0, '2018-01-30')

In [18]:
# Memory DB

conn = sqlite3.connect(":memory:") # 메모리로 db생성(실제 파일로 저장 x)
print(conn)
cur = conn.cursor()

cur.execute("create table phonebook(name varchar(10), phoneNum text);")
cur.execute("insert into phonebook values(?,?);",("tom","010-111-1111"))

# 입력 데이터 인자를 변수명으로 처리
sql = "insert into phonebook values(:vName, :vPhone)"
cur.execute(sql,{"vPhone":"010-222-2222","vName":"Johnson"})

# 여러 개의 데이터를 한번에 입력
datalist = (('jane','010-333-3333'),('jerry','010-444-4444'),('marry','010-555-5555'))
cur.executemany("insert into phonebook values(?,?)",datalist)

cur.execute("select * from phonebook")
for i in cur:
    print(i)
    
# 지금 작업 내용을 script로 저장
f = open("data/dump.sql","w")
for line in conn.iterdump(): 
    f.write("{}\n".format(line))
    
f.close()
conn.close()

<sqlite3.Connection object at 0x7ffe567004e0>
('tom', '010-111-1111')
('Johnson', '010-222-2222')
('jane', '010-333-3333')
('jerry', '010-444-4444')
('marry', '010-555-5555')

In [5]:
# 스크립트 불러오기
conn = sqlite3.connect("sqlite/auto.db")
cur = conn.cursor()

file = open("data/dump.sql", "r")
script = file.read()
print(script)

cur.executescript(script)

conn.close()

NameError: name 'sqlite3' is not defined

---
## 3. 파이썬과 MongoDB 연동
+ pip install mymongo

### (1) 서버 연결

In [9]:
# import pymongo
from pymongo import MongoClient
conn = pymongo.MongoClient("127.0.0.1",27017) # 27017: mongod로 port번호 확인
print(conn)
conn.close()

NameError: name 'pymongo' is not defined

### (2) DB 연결

In [8]:
conn = MongoClient("127.0.0.1",27017)

# dbname = conn.get_database("test")
# dbname = conn.test
# dbname = conn.test2

dbname = conn["test"]
print(dbname)

conn.close()

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

### (3) Collenction 연결

In [10]:
conn = MongoClient("127.0.0.1",27017)
dbname = conn.test

# collect = dbname.articles
collect = dbname["articles"]
print(collect)

conn.close()

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'articles')

### (4) 데이터 입력(1개)

In [18]:
conn = MongoClient("127.0.0.1",27017)
dbname = conn.test
collect = dbname.people

# data = {"author":"Mike","text":"my first blog post!","tag":["mongodb","python"]}
# collect.insert_one(data) # insert_one : 모듈에서 제공하는 입력함수

# 입력하면서 id 가져오기
# data = {"author":"Tom","text":"my first blog post!","tag":["mongodb","python"]}
# post_id = collect.insert_one(data).inserted_id
# print(post_id)

print(collect.count_documents({})) # document 개수

for i in collect.find():
    print(i)


conn.close()

7
{'_id': ObjectId('608a592b8797955239964eca'), 'name': 'Abet', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('608a592b8797955239964ecb'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('608a592b8797955239964ecc'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs', 'pyhon'], 'c': ['c++']}
{'_id': ObjectId('608a592b8797955239964ecd'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('608a627581e0a674cee112a0'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}
{'_id': ObjectId('608b571563079fa4922a6669'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('608b58d963079fa4922a666b'), 'author': 'Tom', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}

### (5) 데이터 입력(여러 개)

In [23]:
conn = MongoClient("127.0.0.1",27017)
dbname = conn.test
collect = dbname.people

print(collect.count_documents({})) # document 개수

collect.insert_many([{"number":i}for i in range(10)])# insert_many() : 여러개 입력 함수

print(collect.count_documents({}))

conn.close()

7
17

In [29]:
datas = []
for i in range(10):
    data = {"number" : i}
    datas.append(data)
print(datas)

[{'number': 0}, {'number': 1}, {'number': 2}, {'number': 3}, {'number': 4}, {'number': 5}, {'number': 6}, {'number': 7}, {'number': 8}, {'number': 9}]

In [31]:
conn = MongoClient("127.0.0.1",27017)
dbname = conn.test
collect = dbname.people

data = list()
data.append({"name":"aron","age":20})
data.append({"name":"tom","age":21})
data.append({"name":"jane","age":22})
data.append({"name":"jerry","age":23})

collect.insert_many(data)
conn.close()

### (6) 조회

In [53]:
conn = MongoClient("127.0.0.1",27017)
dbname = conn.test
collect = dbname.people

# # 전체 조회
# for i in collect.find():
#     print(i)
    
# 나이가 20살인 documents 조회
for i in collect.find({"age":20}):
    print(i)
    
print("-"*100)
    
# 나이가 23세 이상인 document 조회
for i in collect.find({"age":{"$gte":23}}):
    print(i)
    
print("-"*100)

print(collect.find_one())
print(collect.find_one({"age":{"$gte":23}}))
    
    
conn.close()

{'_id': ObjectId('608a592b8797955239964eca'), 'name': 'Abet', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('608a592b8797955239964ecb'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('608b5eab63079fa4922a667e'), 'name': 'aron', 'age': 20}
----------------------------------------------------------------------------------------------------
{'_id': ObjectId('608a592b8797955239964ecc'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs', 'pyhon'], 'c': ['c++']}
{'_id': ObjectId('608a592b8797955239964ecd'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('608b5eab63079fa4922a6681'), 'name': 'jerry', 'age': 23}
----------------------------------------------------------------------------------------------------
{'_id': ObjectId('608a592b8797955239964eca'), 'name': 'Abet', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('608a592b8797955239964ecc'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs', 'pyhon'], 'c': ['c++']}

### (7) 수정

In [10]:
conn = MongoClient("127.0.0.1",27017)
dbname = conn.test
collect = dbname.people

print(collect.find_one({"author":"Tom"}))

collect.update_one({"author":"Tom"},{"$set":{"text":"my second blog post!"}})

print(collect.find_one({"author":"Tom"}))

conn.close()

SyntaxError: unexpected EOF while parsing (<ipython-input-10-c05688fd1e24>, line 13)