## 1. 변수의 정의 : 임시 기억(저장) 공간 
   + 데이터를 하나만 저장할 수 있다.

## 2. 변수의 특징
   + 묵시적 선언
   + 동적 바인딩
   + immutable(불변성)
    - 변수에 저장되어 있는 값이 변하는게 아니라 데이터가 저장되어있는 주소값이 바뀌는 거라서 불변성이다.

In [15]:
a = 10

a = "가나다"

a = 4.24E3
print(a)

a = 3.14
print(a)

4240
3.14

## 3. Data Type
+ 종류
    1. 기본 자료형 : 데이터가 하나일 때 사용 
        * int : 정수형
        * float : 실수형
        * str : 문자형
        * boolean : 참/거짓
        
    1. 집합 자료형 : 데이터가 여러개 일 때 사용
        * list : 리스트
        * tuple : 튜플
        * dict : 매핑
        * set : 원소를 얻고자 사용

---

#### (1) str

In [33]:
a = 10
print(type(a))

a = '10'
print(type(a))

a = """
"안녕하세요. 저는 홍길동 입니다. 안녕히 계세요"
"""
print(a)

<class 'int'>
<class 'str'>

"안녕하세요. 저는 홍길동 입니다. 안녕히 계세요"

In [43]:
# 특수 문자(제어 문자) : Escape문자
a = "이것은 파이썬입니다. \n\n\n열심히 공부합시다.\n" # \n은 엔터의 역할
print(a)
b = "현재 시간은 \t\t\t9시 입니다.\n" # \t은 tab의 역할
print(b)

print('"\\t는 탭키의 역할이다."')

이것은 파이썬입니다.


열심히 공부합시다.

현재 시간은 			9시 입니다.

"\t는 탭키의 역할이다."

In [48]:
# \를 줄바꿈의 용도로 사용
a =  "10 + 2 - 3 + 5 \
+ 6 + 7"
print(a)

10 + 2 - 3 + 5 + 6 + 7

In [62]:
# 문자열을 연결하기
a = "python"
b = "is fun"
c = "and great"

d = a,b,c
print(d)

d = a+" "+b+" "+c
print(d)

('python', 'is fun', 'and great')
python is fun and great

In [72]:
# 문자열 곱하기(반복)
a = "python"
print(a * 3)

python python python

In [73]:
# 문자열 길이
a = "python"
print(len(a))

6

In [77]:
# 인덱싱(indexing) : 원하는 문자에 접근할 수 있는 방법 제공
a = "Life is too short. You need python"
print(a[3])
print(a[10])
print(a[-1])
print(a[-2])
print(len(a)-1) # 마지막 위치

e
o
n
o
33

In [84]:
# 슬라이싱(Slicing) : [시작위치 : 끝위치(n-1)]
a = "Life is too short. You need python"
print(a[0:-2])
print(a[:-2])

Life is too short. You need pyth
Life is too short. You need pyth

In [3]:
# step : [시작위치 : 끝위치 : 간격]
a = "Life is too short. You need python"
print(a[0::3])

Lesosr ue tn

In [97]:
# 데이터는 수정 불가
a = "pithon"
print(a.replace(a[1],"y"))
print(a[:1] + 'y' + a[2:])

python
python

In [23]:
## 문자열 관련 함수

# count() : 문자 개수 세기 
str1 = "홍길동, 김철수, 임창정, 신동엽"
print(len(str1))
print(str1.count("수"))
print("-"*35)

# join() : 문자열 삽입
str1 = "abcdefg"
print("?".join(str1))
print("-"*35)

# split() : 문자열 나누기
str1 = "홍길동 김철수 임창정 신동엽"
print(str1.split(' '))
print("-"*35)

# find(), index() : 위치 찾기
print(str1.find("임"), str1.find("최")) # 찾고자 하는 데이터가 없으면 -1
print(str1.index("임")) # 찾고자 하는 데이터가 없으면 에러
print("-"*35)

# lstrip(), rstrip(), strip() : 왼쪽, 오른쪽, 양쪽 공백 제거
a = "             python"
print(a)
print(a.lstrip())
a = ",.python             "
print(a.lstrip(",."))

# replace(), [translate(), maketranse()] : 새로운 값으로 바꿈(maketranse()와 translate()는 같이 써야됨)
a = "hello world"
print(a.replace("hello","python"))

a = "일이삼사오육칠팔구"
print(a.replace("일삼오","135"))
print(a.translate(a.maketrans("일삼오","135")))

18
1
-----------------------------------
a?b?c?d?e?f?g
-----------------------------------
['홍길동', '김철수', '임창정', '신동엽']
-----------------------------------
8 -1
8
-----------------------------------
             python
python
python
-----------------------------------
python world
일이삼사오육칠팔구
1이3사5육칠팔구

In [75]:
# 문자열 포메팅
print("현재 온도는 %d도 입니다."%(18))
print("현재 온도는 %d도 입니다. 오늘의 날씨는 %s입니다."%(18,"맑음"))

# .format
print("%-10s의 결과 : %d %c %d = %.1f입니다."%("나눗셈",3,'/',5,3/5))
print("{0}의 결과 : {1} {2} {3} = {4}입니다.".format("나눗셈",3,"/",5,3/5))
print("{title:10}의 결과 : {num1} {num2} {num3} = {num4:.3f}입니다."\
      .format(num1=3,num2="/",num3=5,num4=3/5,title="나눗셈"))

print("{0:?^11}의 결과 : {1} {2} {3} = {4}입니다.".format("나눗셈",3,"/",5,3/5))
print("{0:?<11}의 결과 : {1} {2} {3} = {4}입니다.".format("나눗셈",3,"/",5,3/5))

현재 온도는 18도 입니다.
현재 온도는 18도 입니다. 오늘의 날씨는 맑음입니다.
나눗셈       의 결과 : 3 / 5 = 0.6입니다.
나눗셈의 결과 : 3 / 5 = 0.6입니다.
나눗셈       의 결과 : 3 / 5 = 0.600입니다.
????나눗셈????의 결과 : 3 / 5 = 0.6입니다.
나눗셈????????의 결과 : 3 / 5 = 0.6입니다.

---

#### (2) bool

In [83]:
print(bool(10), bool(3.14), bool(-2), bool(0))
print(bool('가'), bool("가나다"), bool(" "), bool(""), bool(None))

a = True
print(type(a))

True True True False
True True True False False
<class 'bool'>

---

#### (3) list

* '[  ]' 사용
* 임의의 객체를 순차적으로 저장하는 집합적 자료형(Sequence Data)
* index 사용
* mutable(변경 가능)

---

In [104]:
# a = 10
# b = 11
# c = 12

a,b,c = 10,11,12
print(a,b,c)

d = [10,11,12]
print(d)
print(d[0],d[1],d[2])

e = ["james",178,3.14,True]
print(e)

10 11 12
[10, 11, 12]
10 11 12
['james', 178, 3.14, True]

In [112]:
### indexing

a = [1,2,3,"가",3.14,["a","b","c"]]
print(a)
print(a[5])
print(a[5][0])
print(a[-1][-2])

[1, 2, 3, '가', 3.14, ['a', 'b', 'c']]
['a', 'b', 'c']
a
b

In [176]:
### 복사 (얕은 복사, 깊은 복사)

a = [1,2,3,4,5]
b = a
b[0] = 10
print(a)
print(b)
print("-"*35)

a = [1,2,3,4,5]
#b = a[0:5]
b = a[:]

b[0] = 10
print(a)
print(b)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
-----------------------------------
[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [158]:
# list 생성
a = []
a = list()
a = [1,2,3]
print(type(a),a)
print("-"*35)

# 각 자료형 함수
a = '10'
print(type(int(a)),int(a))
print(type(str(a)),str(a))
print(type(float(a)),float(a))
print(type(bool(a)), bool(a))

print(type(list(a)),list(a))
print(type(list([a])),list([a]))
print("-"*35)

# 초기화 방법

a = list([0,1,2,3])
print(a)

a = list(range(10)) #range(0,10,1) = 0부터 9까지 1씩 증가
print(a)

a = list(range(5,12))
print(a)

a = list(range(5,12,2))
print(a)

a = list(range(-4,12,1))
print(a)

a = list(range(10,0,-1))
print(a)

<class 'list'> [1, 2, 3]
-----------------------------------
<class 'int'> 10
<class 'str'> 10
<class 'float'> 10.0
<class 'bool'> True
<class 'list'> ['1', '0']
<class 'list'> ['10']
-----------------------------------
[0, 1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[5, 7, 9, 11]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [168]:
# 연산 가능
a = [1,2,3]
b = [4,5,6]

print(a+b)
print(a*3)
print(str(a[1])+"hi")

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2hi

In [189]:
# 추가하기 : insert(위치,값) => 위치를 지정해서 값을 추가, append(), extend() => 맨뒤의 값을 추가

a = [1,2,3]
print(a)

a.insert(0,9)
print(a)

a.append(8)
print(a)

a.append([1,6,7])
print(a)

a.extend([4])
print(a)

a.extend([10,5,4])
print(a)

[1, 2, 3]
[9, 1, 2, 3]
[9, 1, 2, 3, 8]
[9, 1, 2, 3, 8, [1, 6, 7]]
[9, 1, 2, 3, 8, [1, 6, 7], 4]
[9, 1, 2, 3, 8, [1, 6, 7], 4, 10, 5, 4]

In [218]:
### 정렬 

a = [1,4,3,2]
# a.sort()
# print(a)
print(sorted(a))

# 역순 : reverse
a = [1,2,3,4]
a.reverse()
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [71]:
### 제거

# 범위를 지정해서 삭제
a = [1,2,3,1,2,3]
a[1:3] = []
print(a)
print("-"*35)

# 값을 찾아서 삭제
a = [1,2,3,1,2,3]
a.remove(3)
print(a)
print("-"*35)

# 위치를 찾아서 삭제
del a[4]
print(a)
print("-"*35)

# 전체 데이터 삭제
a = [1,2,3,1,2,3]
a[:] = []
print(a)
print("-"*35)

# stack
a = [1,2,3]
# a.pop()
b = a.pop()
c = a.pop()
print(a,c,b)
print("-"*35)

[1, 1, 2, 3]
-----------------------------------
[1, 2, 1, 2, 3]
-----------------------------------
[1, 2, 1, 2]
-----------------------------------
[]
-----------------------------------
[1] 2 3
-----------------------------------

In [70]:
# 검색

a = [1,2,3,4,5]
print(a.index(4))
print(a)

print(2 in a)
print(7 in a)

3
[1, 2, 3, 4, 5]
True
False

----
#### (4) tuple 

* (  ) 사용
* immutable(수정 불가)

In [246]:
a = ('a', 'b', 'c', 'd')
print(type(a))
print(len(a))
print(a.count('c'))
print(a.index('a'))

<class 'tuple'>
4
1
0

In [247]:
a = [1,2,3,4,5]
a[1] = 10
b = a
b = tuple(b)
print(b)

(1, 10, 3, 4, 5)

In [257]:
# packing과 unpacking

a = 10,20,30
print(type(a))
print(a)

a1,a2,a3 = a
print(type(a1),type(a2),type(a3))
print(a1,a2,a3)

<class 'tuple'>
(10, 20, 30)
<class 'int'> <class 'int'> <class 'int'>
10 20 30

----
#### (5) dict (Dictionary) : 두 개의 데이터를 하나로 묶음

* 순서가 없다
* {키 : 값}
* 키를 이용해서 값을 조회

In [33]:
a = {"name":"홍길동", "telNum":"111-1111", "age":27}
print(a,"\n")
print(type(a),"\n")

print(a["name"],a["telNum"],a["age"],"\n")

print(a.keys(),"\n")
print(a.values(),"\n")
print(a.items(),"\n")

b = list(a.items())
print(b,"\n")

print(b[0], b[0][0],"\n")

{'name': '홍길동', 'telNum': '111-1111', 'age': 27}

<class 'dict'>

홍길동 111-1111 27

dict_keys(['name', 'telNum', 'age'])

dict_values(['홍길동', '111-1111', 27])

dict_items([('name', '홍길동'), ('telNum', '111-1111'), ('age', 27)])

[('name', '홍길동'), ('telNum', '111-1111'), ('age', 27)]

('name', '홍길동') name

In [72]:
# 수정

a = {"name":"홍길동", "telNum":"111-1111", "age":27}
print(a,"\n")
a["name"] = "임창정"
print(a,"\n")
print("-"*35)

# 추가 

a["hobby"] = ["낚시","노래"] #### => 튜플로도 가능
print(a,"\n")
print("-"*35)

# 삭제
del a["hobby"]
print(a,"\n")
print("-"*35)

# 전체 삭제
a.clear()
print(a,"\n")
print("-"*35)

# 데이터 가져오기
a = {"name":"홍길동", "telNum":"111-1111", "age":27}
print(a.get("name"),"\n")
print(a.get("hobby"),"\n")
print("-"*35)

{'name': '홍길동', 'telNum': '111-1111', 'age': 27}

{'name': '임창정', 'telNum': '111-1111', 'age': 27}

-----------------------------------
{'name': '임창정', 'telNum': '111-1111', 'age': 27, 'hobby': ['낚시', '노래']}

-----------------------------------
{'name': '임창정', 'telNum': '111-1111', 'age': 27}

-----------------------------------
{}

-----------------------------------
홍길동

None

-----------------------------------

---
#### (6) set

* { } 사용
* 키가 없고 값을 사용
* 순서가 없다(인덱스가 없다)
* 중복 불가

In [58]:
a = {1,2,3,4}
print(type(a))
a = [1,2,3,4]
print(type(a))
a = (1,2,3,4)
print(type(a),"\n")

# print(a[0])
a = {1,2,3,1,2,3}
b = list(a)
print(b)

<class 'set'>
<class 'list'>
<class 'tuple'>

[1, 2, 3]

In [73]:
### 연산

s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

# 합집합
print(s1.union(s2))
print(s1 | s2)
print()
print("-"*35)

# 교집합
print(s1.intersection(s2))
print(s1 & s2)
print()
print("-"*35)

# 차집합
print(s1.difference(s2))
print(s1 - s2)
print()
print("-"*35)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

-----------------------------------
{4, 5, 6}
{4, 5, 6}

-----------------------------------
{1, 2, 3}
{1, 2, 3}

-----------------------------------

In [75]:
### 관련 함수

# 여러 개 추가
s1.update({7,8})
print(s1)
print("-"*35)


# 한 개 추가
s1.add(9)
print(s1)
print("-"*35)

# 삭제
s1.remove(9) # 없는 값을 지울 때 에러를 발생시켜 중지
print(s1)
s1.discard(8) # 없는 값을 지울 때 에러를 발생시키지 않음
print(s1)
print("-"*35)

# 중복된 데이터를 제거하고 재구성
a = {1,2,3,4,4,5,2}
b = set(a)
print(b)

b = list(b)
print(b)
print("-"*35)

{1, 2, 3, 4, 5, 6, 7, 8}
-----------------------------------
{1, 2, 3, 4, 5, 6, 7, 8, 9}
-----------------------------------
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7}
-----------------------------------
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
-----------------------------------

## 4. Operator

    1) 산술 연산자
        *  /  +  -  %(나머지)  //(몫)  **
    
    2) 비교 연산자
        >  <  >=  <=  !=  ==
        
    3) 논리 연산자(단락회로 연산자)
        and(&)  or(|)  not(!)(단항, 토글)  
     
        x   y   x and y   x or y   not x   not y   x^y(데이터 암호화/복호화)
        -----------------------------------------------------------
        T   T      T        T       F       F       F
        T   F      F        T       F       T       T
        F   T      F        T       T       F       T
        F   F      F        F       T       T       F
    
    4) 대입(치환, 할당) 연산자
        =  +=  -=  *=  /=  ...
    
    ===================================================
    
    5) 포함 여부 연산자
        in,  not in 
    
    6) 비트(이진수) 연산자 
        bit < Byte(8bit) < KB(1024byte) < MB(1024KB) < GB(1024MB)
        
        &(and)  |(or)  ^(xor)  ~(not)  >>(Right Shift)  <<(Left Shift) ...

In [77]:
### 대입 연산자

a = 1
a = 5
a = 3
print(a)

b = 1
b += 5
b += 3
print(b)

3
9

In [102]:
### 비트 연산자

a = 7>3 and 3>5
print(a)

b = 7>3 and 3>5
print(b)

c = 7&3
print(c)

data  = 645812
key = 343141232131

encoding = data ^ key
print(encoding)

decoding = encoding ^ key
print(decoding)

False
False
3
343140627639
645812